*{
    padding: 0;
    margin: 0;
}
body{
    color : rgb(40, 7, 7);
    background-color: rgb(7, 27, 27);

}
#heading{
    color:rgb(134, 58, 58);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.card{
    margin-left: 300px;
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    width:300px;
    background-color: rgb(27, 221, 221);
    border: white;
    border-radius: 5px;
}
.items{
    display: flex;
    flex-direction: column;
    align-items: center;

}
#Button{
    margin-top: 90px;
    color:blanchedalmond;
    background-color: black;
    padding: 2px;
}